@import "resets";

.boxContainer{
  //position: relative;
  //grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  //grid-template-columns: 1fr 1fr ;
  display: grid;
  grid-template-columns: repeat(10, 1fr) ;
  grid-template-rows: repeat(10, 55px) ;
  grid-gap: 2px;
  margin-left: 15px;
}
.box{
  background-color: #fff;
  text-align: center;
  padding: auto;
}
.parentContainer{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transition: all 500ms;

  background-color: antiquewhite;

  > div{
    width: 50%;
  }
  .stats{
    background-color: #222222;
    height: 100%;
    color: #ffffff;
    margin-left: 15px;
  }
}

.hovered{
  background-color: #dddddd;
  transition: all 500ms;
}
.clicked{
  background-color: #333333;
  color: #ffffff;  
  transition: all 500ms;

}
.availableInRange{
  background-color: #e7a51f;  
  transition: all 500ms;


}